.header {
    height: 50px;
    background-color: red;
}

.header-logo {
    text-align: center;
    font-size: 35px;
    color: red;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1%;
    font-family: Poppins;
    font-weight: bold;
    display: inline-block;
}

.user-account {
    float: right;
    color: white;
    padding-top: 10px;
    font-weight: bold;
}

.login {
    display: inline-block;
}

.signup {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    margin-right: 15px;
    margin-left: 10px;
}